{% extends "base.html" %}
{% block content %}
    {% for todolist in todo_list %}
    <li>
        <a href="{% url 'todo_list' todolist.id %}">
            {% load static %}
            <img src="{% static '1200px-GNOME_Todo_icon_2019.svg.png' %}" height="32" />
            {{ todolist.title | upper }}
        </a>
    </li>
    {% empty %}

    <h4>You have no lists!</h4>

    {% endfor %}
{% endblock %}