{% extends "base.html" %}
{% block content %}
<h2>Image Upload</h2>
<form enctype="multipart/form-data" method='post' action=''>
    {% csrf_token %}
    <table>
    {{form.as_table}}
    </table>
    <input type='submit' value='submit' />
</form>
{% endblock content %}