{% extends 'base.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <fieldset>
        {{form}}
    </fieldset>
    <button type="submit">Submit</button>
</form>
{% endblock %}