<h1>{{todo_list.title}}</h1>
{% for item in todo_items %}
<div>
    <a href="{% url 'todo_list_item' todo_list.id item.id %}">
    {{item.title}}
    </a>
    <li>
        Description: {{item.description}}
    </li>
    <li>
        Creation Date: {{item.creation_date}}
    </li>
    <li>
        Due Date: {{item.due_date}}
    </li>
<div>
{% endfor %}