{% extends "base.html" %}
{% block content %}
<h2>Add Todo Item</h2>
<form method='post' action=''>
    {% csrf_token %}
    <table>
    {{form.as_table}}
    </table>
    <input type='submit' value='submit' />
</form>
{% endblock content %}