<!doctype html>

<html lang="en">


<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Simple.css-->

    <title>Django To-do Lists</title>

</head>


<body>
    <div>
        <h1><a href="{% url 'index' %}">
            Django To-do Lists
            </a>
        </h1>
        {% if user.is_authenticated %}
            <h2>Welcome {{user.username}}!</h2>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
        <a href="{% url 'contact' %}">Contact Page</a>
    </div>

    <div>

        {% block content %}

        This content will be replaced by different html code for each page.

        {% endblock %}

    </div>

</body>


</html>